@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@300&display=swap");

.form {
  background-color: white;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  margin: 55px 0;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.29);
}

.form-group label {
  font-weight: bold;
}
